:root {
    --container-padding: 20px;
    --input-padding-vertical: 6px;
    --input-padding-horizontal: 8px;
}

body {
    padding: var(--container-padding);
    color: var(--vscode-foreground);
    font-size: var(--vscode-font-size);
    font-weight: var(--vscode-font-weight);
    font-family: var(--vscode-font-family);
    background-color: var(--vscode-editor-background);
}

*:focus {
    outline-color: var(--vscode-focusBorder) !important;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 12px; 
    width: 100%;
}

.form-container input,
.form-container select {
    width: 100%;
    padding: var(--input-padding-vertical) var(--input-padding-horizontal);
    color: var(--vscode-input-foreground);
    background-color: var(--vscode-input-background);
    border: 1px solid var(--vscode-input-border);
    box-sizing: border-box;
    font-size: inherit;
}

.form-container input::placeholder,
.form-container select::placeholder {
    color: var(--vscode-input-placeholderForeground);
}

#btn-create-adr {
    padding: 6px 14px; 
    cursor: pointer;
    color: var(--vscode-button-foreground);
    background: var(--vscode-button-background);
    border: none;
    align-self: center; 
}

#btn-create-adr:hover {
    background: var(--vscode-button-hoverBackground);
}

#btn-create-adr.secondary {
    color: var(--vscode-button-secondaryForeground);
    background: var(--vscode-button-secondaryBackground);
}

#btn-create-adr.secondary:hover {
    background: var(--vscode-button-secondaryHoverBackground);
}

.button-group {
    display: flex;
    justify-content: center; 
    gap: 12px; 
}

.button-group button {
    flex: 1; 
    max-width: 150px; 
}
