:root {
	--container-padding: 20px;
	--input-padding-vertical: 6px;
	--input-padding-horizontal: 8px;
	--input-margin-vertical: 4px;
	--input-margin-horizontal: 0;
}

body {
	padding: var(--container-padding);
	color: var(--vscode-foreground);
	font-size: var(--vscode-font-size);
	font-weight: var(--vscode-font-weight);
	font-family: var(--vscode-font-family);
	background-color: var(--vscode-editor-background);
}

*:focus {
	outline-color: var(--vscode-focusBorder) !important;
}

.search-container {
	display: flex;
	gap: 8px;
	margin-bottom: 16px;
}

.search-container input {
	flex: 1;
	border: none;
	padding: var(--input-padding-vertical) var(--input-padding-horizontal);
	color: var(--vscode-input-foreground);
	background-color: var(--vscode-input-background);
	outline: 1px solid var(--vscode-input-border);
}

.search-container input::placeholder {
	color: var(--vscode-input-placeholderForeground);
}

button {
	border: none;
	padding: 6px 14px;
	cursor: pointer;
	color: var(--vscode-button-foreground);
	background: var(--vscode-button-background);
}

button:hover {
	background: var(--vscode-button-hoverBackground);
}

button.secondary {
	color: var(--vscode-button-secondaryForeground);
	background: var(--vscode-button-secondaryBackground);
}

button.secondary:hover {
	background: var(--vscode-button-secondaryHoverBackground);
}

.adr-list {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

